[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=calc
Comment=Terminal calculator application
Icon=calc.svg
Exec=alacritty -e calc
Terminal=false
Keywords=calculation;arithmetic
Categories=Utility;Calculator;
